<ion-header class="header">
  <ion-toolbar mode="ios" class="header">
    
    <ion-buttons slot="start" >
      <ion-back-button class="header-back" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">

  <div  class="div_title" lines="none">
    <h3 class="title">Perguntas frequentes</h3>
  </div>
<!---  =========== Perguntas/Resposta ============ -->
    <ion-accordion-group >
      <ion-accordion value="first" toggleIcon="add-circle"  class="accordion">
        <ion-item  lines="full" class="pergunta2" slot="header">
          <ion-label class="question" text-wrap >Como utilizar o App?</ion-label>
        </ion-item>
      
        <ion-item lines="none" class="resposta"  slot="content">
          <ion-icon name="return-down-forward" slot="start" class="icons"></ion-icon>
          <ion-label text-wrap > 
            Para utilizar o app, primeiro deve-se informar se o estabelecimento possui parceria com o CadeUai, procurando por um QrCode do CadeUai, caso tenha basta seguir os seguintes passos:
            <br>
            1 - Abra a câmera do app
            <br>
            2 - Aponte-a para o QrCode
            <br>
            3 - Espere o mapa carregar 
            <br>
            Com o mapa aberto você conseguirá perceber sua localização
            <br>
            4 - Agora você pode procurar pelo local desejado das seguintes formas:
            <br>
            4.1 - através da barra de pesquisa escrevendo o nome da loja.
            <br>
            4.2 - abrindo a lista de lojas e procurando pela desejada.
            <br>
            5 - Após pesquisar, basta clicar na loja e irá abrir a rota da sua localização ate a loja selecionada
            <br>
            6 - Agora apenas siga a rota, e pronto, você chegou ao seu destino!
          </ion-label>
        </ion-item>

      </ion-accordion>

<!---  =========== Uôni ============ -->
    <ion-accordion value="second" toggleIcon="add-circle" class="accordion">
        <ion-item lines="full" class="pergunta2" slot="header" >
          <ion-label class="question" text-wrap>Como escanear o QrCode?</ion-label>
        </ion-item>

        <ion-item lines="none" class="resposta" slot="content">
          <ion-icon name="return-down-forward" slot="start" class="icons"></ion-icon>
          <ion-label text-wrap>1 - Abra a câmera do app
            <br>
            2 - Aponte-a para o QrCode
            <br>
            3 - E pronto QrCode escaneado!</ion-label>
        </ion-item>
    </ion-accordion>
<!---  =========== Tio ============ -->
    <ion-accordion value="third" toggleIcon="add-circle" class="accordion">
        <ion-item lines="full" class="pergunta2" slot="header">
          <ion-label class="question" text-wrap>Para que serve a lista?</ion-label>
        </ion-item>

        <ion-item lines="none" class="resposta" slot="content">
          <ion-icon name="return-down-forward" slot="start" class="icons"></ion-icon>
          <ion-label text-wrap>A lista foi criada para que você possa observar de forma geral todas 
            as lojas existentes no estabelecimento, podendo também procurar por
            uma loja e seleciona-lá para ver a rota da sua localização até ela.</ion-label>
        </ion-item>
    </ion-accordion>
<!---  =========== Truí ============ -->
    <ion-accordion value="four" toggleIcon="add-circle" class="accordion">
        <ion-item  lines="full" class="pergunta2" slot="header">
          <ion-label class="question" text-wrap>Para que serve as novidades?</ion-label>
        </ion-item>
  
        <ion-item lines="none" class="resposta" slot="content">
          <ion-icon name="return-down-forward" slot="start" class="icons"></ion-icon>
          <ion-label text-wrap>
           As novidades tem a intenção de divulgar possíveis promoções das lojas 
           dentro do shopping, fazendo com que a busca dos clientes por produtos 
           com boas ofertas seja facilitada.</ion-label>
        </ion-item>
    </ion-accordion>
<!---  =========== Fuor ============ -->
    <ion-accordion value="five" toggleIcon="add-circle" class="accordion">
        <ion-item  lines="full" class="pergunta2" slot="header">
          <ion-label class="question" text-wrap>Como adicionar o meu próprio mapa?</ion-label>
        </ion-item>
  
        <ion-item  lines="none" class="resposta" slot="content">
          <ion-icon name="return-down-forward" slot="start" class="icons"></ion-icon>
          <ion-label text-wrap>Caso tenha se interessado pelo nosso aplicativo e deseja utilizá-lo em seu estabelecimento,
             entre no nosso site e siga os passos para entrar em contato conosco:
             <a href="https://last-football-beige-bahrain.bohr.io">Site</a></ion-label>
        </ion-item>
    </ion-accordion>
<!---  =========== Faivi ============ -->
    <ion-accordion value="six" toggleIcon="add-circle" class="accordion">
        <ion-item lines="full" class="pergunta2" slot="header">
          <ion-label class="question" text-wrap>Mais dúvidas? Informe-se em nosso site</ion-label>
        </ion-item>
  
        <ion-item lines="none" class="resposta" slot="content">
          <ion-icon name="return-down-forward" slot="start" class="icons"></ion-icon>
          <ion-label text-wrap>Entre em contato clicando no link a seguir:
            <a href="https://last-football-beige-bahrain.bohr.io">Cadeuai</a>
          </ion-label>
        </ion-item>
    </ion-accordion>
<!---  =========== Six ============ -->
      </ion-accordion-group>

</ion-content>
